$defaultFontFamily: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
$defaultFontSize: 14px;
$defaultLineHeight: 1.4;
$defaultBackgroundColor: #fff;
$defaultTextColor: #000;

$white: #fff;
$black: #000;
$gray: #808080;
$blue: #0066cc;
$red: #cc0000;

$borderRadiusSmall: 4px;
