@use '../../../styles/vars';
@use '../../../styles/mixins';

.filter {
  margin-bottom: 20px;
}

.ideas {
  .idea {
    padding: 20px;
    margin-top: 20px;
  }

  .ideaLink {
    @include link;
  }

  .more {
    margin-top: 15px;
  }
}
